<!DOCTYPE html>

<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Admin panel</title>
</head>

<body class="h-100">
<div class="container-fluid">

    <div class="row bg-dark text-white p-2" th:object="${userAuthority}">

        <div class="col-md-3">
            <a class="font-weight-bold" th:text="${userAuthority.username}"></a>
            <a th:text="${' with roles: '}"></a>
            <a class="text-success" th:each="role: ${userAuthority.roles}" th:text="${role.name + ' '}"/>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7"></div>
        <div class="col-md-1 "><a class="text-secondary float-right" href="/logout">Logout</a></div>
    </div>

</div>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 p-0 bg-white h-100 btn-block">
            <br>
            <a href="/admin" type="button" class="d-flex pb-2 btn btn-primary text-left">Admin</a>
            <a href="/user" type="button" class="d-flex pb-2 btn btn-light text-left text-primary">User</a>

        </div>
        <div class="col-md-10 h-100 bg-light">
            <div class="container-fluid">
                <br>
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#list" data-toggle="tab" role="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#add" data-toggle="tab" role="tab">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="card tab-pane fade show active" role="tabpanel" id="list">
                        <div class="card-header">All users</div>
                        <div class="card-body">
                            <form>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Login</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${users}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.password}"></td>
                                        <td>
                                            <a th:each="role:${user.roles}" th:text="${role.name + ' '}"></a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                                    data-target="#EditModal" th:attrappend="data-target=${user.id}">Edit
                                            </button>
                                            <!--                                            <a type="button" th:href="@{/admin/edit(id=${user.id})}">Edit</a>-->
                                            <!--Edit ModalPage-->

                                            <div class="modal fade " id="EditModal" tabindex="-1" role="dialog"
                                                 th:attrappend="id=${user.id}">
                                                <div class="modal-dialog">
                                                    <form th:action="@{/admin/edit}" method="post">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="EditModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">

                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <label><input type="hidden" name="id"
                                                                                      th:value="${user.id}"/></label>
                                                                        <label for="ID"
                                                                               class="col-form-label"><a
                                                                                class="font-weight-bold ">ID</a></label>
                                                                        <input class="form-control form-control-sm"
                                                                               id="ID"
                                                                               type="text"
                                                                               th:placeholder="${user.id}"
                                                                               readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <label for="NameEdit"
                                                                               class="col-form-label"><a
                                                                                class="font-weight-bold">First
                                                                            name</a></label>
                                                                        <input type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="NameEdit"
                                                                               name="name"
                                                                               th:value="${user.name}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <label for="EmailEdit"
                                                                               class="col-form-label"><a
                                                                                class="font-weight-bold ">Email</a></label>
                                                                        <input type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="EmailEdit"
                                                                               name="username"
                                                                               aria-describedby="emailHelp"
                                                                               th:value="${user.username}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <label for="passEdit"
                                                                               class="col-form-label"><a
                                                                                class="font-weight-bold">Password</a></label>
                                                                        <input type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="passEdit"
                                                                               name="password"
                                                                               [th:value="${user.password}" ]>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="form-check col-5">
                                                                        <label for="roleEdit"><a
                                                                                class="font-weight-bold">Role</a></label>
                                                                        <select class="custom-select"
                                                                                size="2" id="roleEdit" name="roles"
                                                                                multiple>
                                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                                            <option value="ROLE_USER" selected>USER
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-sm btn-primary"
                                                                        formaction="/admin/edit" formmethod="post">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <!--                                            <a class="btn btn-sm btn-danger" th:href="@{/admin/delete(id=${user.id})}">Delete</a>-->
                                            <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                    data-target="#DeleteModal" th:data-target="'#delete' + ${user.id}">
                                                Delete
                                            </button>

                                            <!--Delete ModalPage-->

                                            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                                                 th:id="'delete' + ${user.id}">
                                                <div class="modal-dialog" role="document">
                                                    <form th:action="@{/admin/delete}" th:method="get">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="DeleteModalLabel">Delete
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <label><input type="hidden" name="id"
                                                                                      th:value="${user.id}"/></label>
                                                                        <strong><label
                                                                                for="deleteID">ID</label></strong>
                                                                        <input class="form-control form-control-sm"
                                                                               id="deleteID"
                                                                               type="text"
                                                                               th:placeholder="${user.id}"
                                                                               readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <strong><label for="NameDelete">First
                                                                            name</label></strong>
                                                                        <input type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="NameDelete"
                                                                               name="name"
                                                                               th:value="${user.name}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <strong><label
                                                                                for="EmailDelete">Email</label></strong>
                                                                        <input type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="EmailDelete"
                                                                               name="username"
                                                                               th:value="${user.username}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row justify-content-center">
                                                                    <div class="col-5">
                                                                        <strong><label
                                                                                for="roleDelete">Role</label></strong>
                                                                        <select id="roleDelete" name="roles"
                                                                                class="custom-select" multiple size="2"
                                                                                disabled="true">
                                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                                            <option value="ROLE_USER">USER</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>

                    <!--AddNewUserPage-->

                    <div class="card tab-pane fade" role="tabpanel" id="add">
                        <div class="card-header">Add new user</div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col ">
                                        <form th:action="@{/admin/save}" method="post" th:object="${newUser}">

                                            <P><label><input type="hidden" th:field="*{id}" placeholder="ID"/></label>
                                            </P>
                                            <div class="form-group">
                                                <label for="FirstName"><a class="font-weight-bold">First
                                                    name</a></label>
                                                <input type="text" th:field="*{name}"
                                                       class="form-control form-control-sm  alert-warning"
                                                       id="FirstName" placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="Email"><a
                                                        class="font-weight-bold ">Email</a></label>
                                                <input type="email" th:field="*{username}"
                                                       class="form-control  form-control-sm alert-warning" id="Email"
                                                       aria-describedby="emailHelp" placeholder="email">
                                            </div>
                                            <div class="form-group">

                                                <label for="Password"><a
                                                        class="font-weight-bold">Password</a></label>
                                                <input type="password" th:field="*{password}"
                                                       class="form-control form-control-sm" id="Password"
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="RoleUser"><a
                                                        class="font-weight-bold">Role</a></label>
                                                <select class="custom-select" size="2" id="RoleUser" th:field="*{roles}"
                                                        multiple>
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                    <option value="ROLE_USER" selected>USER</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                        </form>
                                    </div>
                                    <div class="col"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>